<div class="jumbotron">
  <div class="container hero_section">
    <div class="row">
      <div class="col-md-6 offset-md-3 border bg-light">
        <h2 class="pt-1">Login</h2>
        <form [formGroup]="loginForm" class="py-5">
          <div class="form-group">
            <input class="form-control" formControlName="email" type="email" placeholder="Email" name="search">
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="password" type="password" placeholder="Password" name="search">
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <p>Forgot password?<a  routerLink="/forgot-password" class="text-warning forgot_password">Reset</a></p>
              </div>
              <div class="col text-center">
                <button class="btn btn-primary" (click)="loginUser()">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
