<div class="jumbotron">
  <div class="container hero_section">
    <div class="row">
      <div class="col-sm-2">
       <div class="mt-4">
         <div class="mb-3">
           <button class="btn btn-primary">Edit Profile</button>
         </div>
         <div class="mb-3">
           <button class="btn btn-outline-primary">Address</button>
         </div>
         <div class="mb-3">
           <button class="btn btn-outline-primary">Payment</button>
         </div>
       </div>
      </div>
      <div class="col-sm-8 border bg-light">
        <div class="text-center mt-5">
          <img src="../../../assets/user.png" class="img rounded" height="100">
        </div>

        <form  class="py-5">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Name" value="John Doe" name="search">
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" value="johndoe@gmail.com" name="search">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Phone" value="+1 (206) 4303075" name="search">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
