<div class="jumbotron">
  <div class="container hero_section">
    <div class="row">
      <div class="col-md-6 offset-md-3 border bg-light">
        <h2 class="pt-1">Reset password</h2>
        <form [formGroup]="resetForm" class="py-5">
          <div class="form-group">
            <input class="form-control" type="email" formControlName="email" placeholder="Email" name="search">
          </div>
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary" (click)="resetPassword()">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
