<div class="jumbotron">
  <div class="container hero_section">
    <div class="row">
      <div class="col-md-8 offset-2">
        <h1 class="display-4 text-center">Welcome</h1>
        <p class="text-center lead">
          Order food from you favourite restaurants near you!
        </p>
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Enter your location" name="search">
          </div>
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary">Search Food</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div  *ngIf="!Dishes" class="container">
      <div class="row">
        <div class="spinner-border text-primary text-center" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-3" *ngFor="let dish of Dishes">
        <div class="card">
          <img [src]="dish.image_url" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-9">
                  <p class="text-uppercase">{{dish.name}}</p>
                  <p class="small">At {{dish.restaurent_name}}</p>
                  <p class="small">{{dish.cost | currency}}</p>
                </div>
                <div class="col">
                  <p class="text-right text-muted small"><i class="fa fa-star" aria-hidden="true"></i>{{dish.rating}}</p>
                </div>
              </div>
              <button class="btn btn-primary small float-right"><i class="fa fa-plus"></i> Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="!Dishes" class="text-center">No restaurant found near you!</p>
  </div>
</div>
