<div class="jumbotron">
  <div class="container hero_section">
    <div class="row">
      <div class="col-md-8 offset-2">
        <h1 class="display-4 text-center">Welcome</h1>
        <p class="text-center lead">
          Order food from you favourite restaurants near you!
        </p>
        <form>
          <div class="form-group">
            <input class="form-control" placeholder="Enter your location" name="search">
          </div>
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary">Search Food</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/rest1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="lead">Subway</h4>
                </div>
                <div class="col">
                  <p class="text-right text-muted small">Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/rest1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="lead">Subway</h4>
                </div>
                <div class="col">
                  <p class="text-right text-muted small">Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/rest1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="lead">Subway</h4>
                </div>
                <div class="col">
                  <p class="text-right text-muted small">Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/rest1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="lead">Subway</h4>
                </div>
                <div class="col">
                  <p class="text-right text-muted small">Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/rest1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="lead">Subway</h4>
                </div>
                <div class="col">
                  <p class="text-right text-muted small">Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/rest1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="lead">Subway</h4>
                </div>
                <div class="col">
                  <p class="text-right text-muted small">Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
